// Variables
$orange:hsl(35, 77%, 62%);
$red:hsl(5, 85%, 63%);
$offWhite:hsl(36, 100%, 99%);
$grayBlue:hsl(233, 8%, 79%);
$darkGrayBlue:hsl(236, 13%, 42%);
$darkBlue:hsl(240, 100%, 5%);

// Font CDN
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

// Page Setup
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
}
img, svg, video, picture {
    display: block;
    max-width: 100%;
    &::selection {
        background-color: transparent;
    }
    &::-moz-selection {
        background-color: transparent;
    }
}
input, textarea, button, select {
    font: inherit;
}
html {
    font-size: 15px;
}
body {
    min-height: 100vh;
    background-color: $offWhite;
    color: $darkGrayBlue;
    font-family: 'Inter', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: $red;
    &::-webkit-scrollbar {
        width: .6em;
    }
    &::-webkit-scrollbar-track {
        border: 2px solid $offWhite;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $red;
        border: 2px solid $offWhite;
        border-radius: 100vw;
        &:hover {
            background-color: $orange;
        }
    }
}
html, body {
    width: 100vw;
    width: 100dvw;
    overflow-x: hidden;
}
// Typography
a, p {
    font-size: 1rem;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}
h1, h2, h3, h4, h5, h6, a {
    color: $darkBlue;
}
h2 {
    font-size: 1.8rem;
}
// Global Style Classes
.container {
    max-width: 90%;
    margin: 0 auto;
}
.mainContainer {
    margin-bottom: 2.6em;
}
.btn {
    display: inline-block;
    width: max-content;
    cursor: pointer;
    &.btnPrimary {
        color: $offWhite;
        background-color: $red;
        text-transform: uppercase;
        letter-spacing: .4em;
        font-weight: 700;
        padding: 1em 2em;
        transition: .3s;
        &:hover {
            background-color: $darkBlue;
            color: $offWhite;
        }
    }
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

// Actual Page Styling
// Header Section
.headerBackdrop {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
    z-index: 9990;
    &.show {
        pointer-events: auto;
        opacity: 1;
    }
}
.siteHeader {
    padding: 2.6em 0;
    position: relative;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .siteLogo {
        height: 2.6em;
    }
    .hamburgerIcon {
        cursor: pointer;
        img {
            width: 2.4em;
        }
    }
    .headerMenu {
        position: absolute;
        top: 0;
        right: -100%;
        background-color: $offWhite;
        width: 64%;
        min-height: 100vh;
        min-height: 100dvh;
        height: auto;
        text-align: right;
        padding: 3em 5%;
        transition: .3s;
        z-index: 9999;
        &.show {
            right: 0;
        }
        .hamburgerIcon {
            margin-bottom: 6em;
        }
    }
    .headerLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        list-style: none;
        a {
            transition: .3s;
            &:hover {
                color: $red;
            }
        }
        & > *:not(:last-child) {
            margin-bottom: 1.4em;
        }
    }
}
// /Header Section

// Hero Section
.heroGrid {
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr;
    .gridItemLeft {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }
    .heroImgLg {
        display: none;
    }
    .heroImgLg {
        width: 100%;
        object-fit: cover;
    }
    h1 {
        font-size: 4rem;
    }
    .heroText {
        p {
            margin-bottom: 2em;
        }
    }
    // Right Side Section
    .gridItemRight {
        background-color: $darkBlue;
        padding: 2em;
        h2 {
            color: $orange;
        }
        h3 {
            color: $offWhite;
        }
        & > *:not(:last-child) {
            margin-bottom: 2em;
        }
        .newPost h3 {
            margin-bottom: 1em;
            font-size: 1.4rem;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $orange;
            }
        }
        .newPostBorder {
            border-top: 1px solid $darkGrayBlue;
            border-bottom: 1px solid $darkGrayBlue;
            padding: 2em 0;
        }
    }
}
// /Hero Section

// More Articles Section
.moreArticlesGrid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2em;
    gap: 2em;
    .moreArticlesChild {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2em;
    }
    .moreArticlesContent {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        h2 {
            color: $grayBlue;
        }
        h3 {
            font-size: 1.1rem;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $red;
            }
        }
    }
}
// /More Articles Section

// Media Queries
@media only screen and (min-width: 576px) {
    .heroGrid {
        .gridItemLeft {
            grid-template-columns: 3fr 2fr;
        }
        .heroImgContainer {
            grid-column: span 5;
            img {
                width: 100%;
            }
        }
        .heroText {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .moreArticlesGrid {
        grid-template-columns: repeat(2, 2fr);
    }
    .moreArticlesImg {
        img {
            height: 8em;
        }
    }
}
@media only screen and (min-width: 768px) {
    .siteHeader {
        .hamburgerIcon {
            display: none;
        }
        .headerMenu {
            position: static;
            min-height: auto;
            padding: 0;
        }
        .headerLinks {
            flex-direction: row;
            justify-content: flex-end;       
            gap: 2em;
            .headerLink {
                color: $darkGrayBlue;
            }
            & > *:not(:last-child) {
                margin: 0;
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    body {
        padding: 2em 0;
    }
    h2 {
        font-size: 2.4rem;
    }
    .container {
        max-width: 80%;
    }
    .heroGrid {
        grid-template-columns: 2fr 1fr;
        h1 {
            font-size: 3em;
        }
        .heroImgSm {
            display: none;
        }
        .heroImgLg {
            display: block;
            height: 20em;
        }
        .heroImgContainer {
            grid-column: span 2;
        }
        .gridItemRight {
            h2 {
                margin-bottom: .8em!important;
            }
        }
    }
    .moreArticlesGrid {
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 3;
        gap: 1em;
        margin-top: 4em;
        .moreArticlesChild {
            gap: 1em;
        }
        .moreArticlesChild:nth-child(3n) {
            margin-left: .365em;
        }
        .moreArticlesImg img {
            height: 10em;
            width: 100%;
            object-fit: cover;
        }
    }
}
@media only screen and (max-width: 350px) {
    html {
        font-size: 13px;
    }
    .heroGrid h1 {
        font-size: 3.6rem;
    }
}